header{
    background-color: #000000;
    padding-left: 50px;
    padding-top: 10px;
}
h1{
    color: #9655ec;
}
body{
    background-color: #000000;
}
h2{
    color: #d5b5ff;
}
p{
    color: #d5b5ff;
    width: 500px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    height: 5px;
    background-color: aliceblue;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}